In [1]:
import numpy as np

In [6]:
X = np.random.normal(loc=1, scale=10, size=(1000, 50))

In [7]:
m = np.mean(X, axis=0)
std = np.std(X, axis=0)
X_norm = (X - m) / std
print(X_norm)

[[ 0.47364408  0.85694657  0.25270676 ..., -0.66287858 -0.04995235
   0.4943421 ]
 [-0.79961521  1.18162604  0.8956213  ...,  0.38484145  1.45360097
  -0.44675035]
 [-1.31587893 -0.17578666 -0.18766408 ..., -2.01306423 -2.04480896
  -0.76758496]
 ...,
 [ 0.40340088  0.25194632 -0.9890282  ..., -1.52175241 -0.75117684
   1.64236439]
 [-0.41560889  0.87588072  0.04036175 ...,  1.93833629 -0.10909439
   1.0913677 ]
 [-0.05961628 -0.44259085 -1.33900212 ...,  0.19876807  1.12422414
   1.3410552 ]]

In [9]:
Z = np.array([[4, 5, 0], 
             [1, 9, 3],              
             [5, 1, 1],
             [3, 3, 3], 
             [9, 9, 9], 
             [4, 7, 1]])
Z_sum = np.sum(Z, axis=1)
print(np.nonzero(Z_sum > 10))

(array([1, 4, 5], dtype=int64),)

In [11]:
A = np.eye(3)
B = np.eye(3)
C = np.vstack((A, B))
print(C)

[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]
 [ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]]

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'F:\Reps\ML Voron\titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [16]:
data['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [17]:
data['Pclass'].value_counts(normalize=True)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [18]:
data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [25]:
# DataFrame.corr(method='pearson', min_periods=1)
data[['SibSp', 'Parch']].corr(method='pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [41]:
names = data.Name
for name in names:
    first_name = name.split('. ')
    first_name = first_name[1].split(' ')
    first_name = first_name[0].strip('()., ')
first_name

Owen
John
Laina
Jacques
William
James
Timothy
Gosta
Oscar
Nicholas
Marguerite
Elizabeth
William
Anders
Hulda
Mary
Eugene
Charles
Julius
Fatima
Joseph
Lawrence
Anna
William
Torborg
Carl
Farred
Charles
Ellen
Lalio
Manuel
William
Mary
Edward
Edgar
Alexander
Hanna
Ernest
Augusta
Jamila
Johan
William
Theodor
Simonne
Margaret
William
Denis
Bridget
Youssef
Josef
Juha
Richard
Henry
Lizzie
Engelhart
Hugh
Emily
Mansouer
Constance
William
Orsen
Amelie
Henry
Harald
Albert
Gerios
Elizabeth
Ernest
Erna
Vincenz
Stephen
Lillian
Ambrose
Apostolos
Lee
Sigurd
Ivan
Rahamin
Alden
Elizabeth
Achille
Jan
Brigdet
Francisco
Bertha
Karl
William
Selman
Mabel
Francesco
Emil
Paul
Herbert
Bertram
Daniel
Charles
George
William
John
Sinai
Matilda
Pastcho
Richard
Gustaf
Anders
Stoytcho
Anna
Albert
Tido
Bertha
Walter
Hileni
David
Katriina
Malake
Edvard
Patrick
William
Quigg
Ellis
Stanley
Leonard
Nicholas
Susan
Percival
Elias
Martin
Fridtjof
Anna
Johan
Jozef
Domingos
Alexander
Leopold
Samuel
Emile
Helen
Jacques
Olaf
Victor
Joseph
Anna
Pekka
Jeremiah
Edgardo
Joseph
August
Robina
Michel
Thomas
Robert
Thomas
Alfonzo
Austin
Ole
Charles
Katherine
Harry
Mile
Thomas
John
James
John
Jovo
Eino
Frank
Edith
William
John
Lee
Wyckoff
Arthur
Eleanor
Antti
James
Klas
Henry
Ann
Reginald
Lionel
Constance
Rene
Clarence
Richard
Luise
Hugh
Thomas
Charles
John
Stjepan
Rosa
William
Carla
Michel
James
Elise
Robert
Karl
Margaret
Henriette
Nestor
Frederick
Jakob
Gerious
Gurshon
Telma
Karl
Nassef
Helen
Henry
Ahmed
Clear
John
Hans
Philip
Madeleine
Eliina
Sidney
Albina
Walter
Victor
James
George
Christo
Frederick
Karl
William
John
Arne
Mathilde
Henry
Bengt
Ernst
Lillian
Robert
Alice
Stephen
Marjorie
Frederick
George
Thamine
Katherine
Reginald
Matti
Sleiman
William
Agda
William
Richard
Ernest
James
Wilhelm
William
William
Viktor
Darwis
Gertrude
Gladys
Anna
Lutie
Thomas
Edvin
Emil
William
Delia
David
Ernesti
Ernst
William
Amelia
Alexander
William
Elizabeth
Charles
Hanora
Kornelia
Augusta
Francis
Eric
Stanton
Frank
Nils
Alfons
Edward
Richard
Ivan
Theodore
Penko
Masabumi
Kate
Ellen
Dickinson
Rene
Aloisia
Ivan
Ervin
Mansour
Helen
Adolphe
James
Anna
Bernard
William
Nora
Howard
Hudson
Margaret
Victor
Samuel
Laura
Margaret
Emily
William
Ignjac
Benjamin
Helmina
Sinai
Ernest
Mary
Frederic
Samuel
Yoto
Hilda
Albert
George
Marie
Johan
Ada
Frank
Jean
Agnes
Austen
George
Leo
Henry
Mitto
Thomas
Elizabeth
Karl
Stephen
Edmond
Alice
Erik
Charles
Stanley
Amelia
Marion
Thomas
William
Jovan
Nils
Fletcher
Tannous
Josef
Wazli
Leo
Elsie
Annie
Mary
Helen
Wilhelm
Sebastiano
Catherine
Adola
Thomas
Mauritz
Frank
Mantoura
Annie
Leontine
George
Jakob
William
Sante
Stina
Edgar
Aurora
Harry
Tannous
Karl
Rosalie
Maria
Juho
Alexander
Vasil
Charles
Sidney
Kate
Matthew
Bertha
William
Carl
Johan
Marjorie
Hjalmar
Erik
Elina
Peter
Alfred
William
Juha
John
Mari
Pekka
Marija
Shadrach
Carl/Charles
William
Hans
Ida
Todor
Henry
Daisy
Alfred
Johan
Thomas
James
Lyyli
William
Catharina
Stanio
David
Leo
Ernst
Viktor
Phillippe
Charles
Kate
James
Berk
Mauritz
Percival
Charles
Nikolai
William
Lucile
Doolina
Sidney
Mark
Johan
Benjamin
Leon
Johan
Encarnacion
Bernt
Washington
Madeleine
Frederic
Marie
Arthur
Edwy
Ingvald
Benjamin
Samuel
Joseph
Ivan
Francis
Frederick
Ellen
Maurice
Harry
William
Arthur
Jacob
Simon
Manuel
William
John
James
Helene
Arthur
Luka
Edwy
Amin
Ida
George
Peter
Lewis
Nils
Hildur
Harold
Anthony
Richard
Hedwig
Dickinson
Jeannie
Frederick
Edward
Francis
Eden
Konrad
Einar
Harry
Ramon
Edward
Gerious
Elizabeth
Frederick
Hudson
Olof
Petar
Mary
Bridget
Kristina
Roberta
Victor
Frederick
George
Henry
Fang
Eugene
James
James
Martin
Satio
William
Amelia
Patrick
William
Stefo
Anne
Janko
Sarkis
Louis
Fared
James
Lucy
John
Johan
Richard
Phyllis
Nakli
Joseph
Catherine
Marija
Eva
Archibald
Bertha
Samuel
Hedwig
Harriet
Ingeborg
Sigrid
Edward
Walter
Arthur
Edward
Julian
Frank
John
John
Percival
Timothy
Fahim
Velin
George
Lucille
Victor
Emil
Guillaume
Thomas
Husein
Robert
John
Marion
Alfred
Ilia
Nils
Tannous
Carl
George
Edward
John
Mary
Alfred
George
Ethel
William
Joseph
Eiriik
Julie
John
William
John
Uscher
Ruth
John
Maxmillian
Eliezer
Joseph
Matti
Walter
William
Mary
John
Jean
Jessie
Alfred
Hanna
Cosmo
Sidney
Petco
Charles
Ernst
Harry
Edvard
Milan
Robert
Joseph
Elizabeth
Anders
Jose
Margaret
John
William
Alice
Ernst
William
Marion
Lawrence
Antoni
Edwin
Sahid
Henry
David
Frederick
Charles
Gretchen
Guentcho
Patrick
Algernon
Johan
Max
William
Mabel
Mary
Antti
Harvey
Juha
Percival
Hans
Emma
Margit
Choong
Eugenie
Henry
Liudevit
Oberst
Edward
Amy
Mito
Elsie
Johannes
Hanora
Hanora
Leonard
Alexander
John
George
Arthur
Henry
Mohamed
Edward
Peju
Eino
Lewis
Reginald
Knud
Jacob
Elmer
Thomas
Thornton
Henry
Charles
Ennis
Gustaf
Frederick
Anna
Frederick
Thomas
Katie
Hammad
Thor
Charles
Thomas
Joseph
Jaako
Branko
Eberhard
Georgette
Albert
Manca
Ali
Khalil
John
Charles
James
Katherine
John
Adolf
John
Spencer
Saiide
Martin
Henrik
Henry
Florence
Edward
Alice
Halim
Berthe
Herman
Elmer
August
Samuel
Peter
Caroline
Edwina
Michael
Malkolm
Annie
Svend
William
Henry
Norman
Luka
Peter
Margareth
Kurt
Pieta
Elisabeth
Houssein
Robert
William
Moses
Leslie
Edward
Gustave
Kanio
Minko
Walter
Tyrell
Susan
Neal
Juho
Edward
Rossmore
Anna
Daniel
Michael
Joan
Meier
Johannes
Lalio
Samuel
Viljo
August
Percy
Thomas
of
John
Iisakki
Hanna
William
Hans
John
Arthur
Mary
Daniel
Daniel
Rene
Niels
Mary
Dibo
Elizabeth
Pehr
Roger
Virginia
Thomas
Edward
Banoura
Albert
Milton
Andrew
William
Abraham
Anna
George
Bertram
Benjamin
Andrew
Alfred
Stella
William
Ristiu
Richard
Alice
Mara
Yousseff
Jean
Martin
Harvey
William
Assad
Oskar
Karl
Thomas
Ellen
August
Norman
William
James
Richard
Ebba
Ernest
Richard
Wendla
Albert
John
Karl
Charles
Nikola
John
Beila
Urho
John
Len
Andre
Thomas
George
Antoni
George
Amin
Albert
Owen
Sara
Jakob
Maurice
Chang
Pierre
Ilmari
Thomas
Augusta
Peter
Jeso
Anthony
Douglas
Marin
John
Samuel
Sigvard
Johan
Nourelain
Mary
Ernest
Sam
George
Peter
Solomon
Raihed
Claus
Frederick
Frederick
Dorothy
John
Karolina
Asuncion
Washington
Philemon
Harold
Cerin
Richard
Frans
Victor
Samuel
Adele
Alfred
Nedelio
Kristo
Thomas
William
Johann
Gerda
Frederick
Henry
William
Juozas
Margaret
Catherine
Karl
Patrick

In [43]:
# 577 314 38.38 24.24 29.70 28.00 41.48

In [18]:
df = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
df = df.dropna(axis=0)
convert_sex = {'female':0, 'male':1}
df['Sex'] = df['Sex'].map(convert_sex)
df_base = df[['Pclass', 'Fare', 'Age', 'Sex']]
df_target = df[['Survived']]
df.head()

             Pclass     Fare   Age  Sex  Survived
PassengerId
1                 3   7.2500  22.0    1         0
2                 1  71.2833  38.0    0         1
3                 3   7.9250  26.0    0         1
4                 1  53.1000  35.0    0         1
5                 3   8.0500  35.0    1         0

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(df_base, df_target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [20]:
importances = clf.feature_importances_

In [21]:
print(importances)

[ 0.14000522  0.30343647  0.2560461   0.30051221]